@import "../variables.scss";

.btn {
  padding: 0.4375rem 0.75rem;
  min-width: 120px;
  font-family: inherit;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  white-space: nowrap;
  cursor: pointer;
  outline: none;

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
  }

  &--primary {
    color: $primaryContrastText;
    border-color: $primaryColor;
    background: linear-gradient(to top, $primaryColor, $primaryColor-300);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: $primaryColor-400;
      }
    }

    &:active {
      background: linear-gradient(to bottom, $primaryColor, $primaryColor-300);
    }

    &:focus-visible {
      background: $primaryColor-400;
      box-shadow: 0px 0px 4px $primaryColor;
    }

    &:disabled {
      border-color: $primaryColor-200;
      background: $primaryColor-100;
    }
  }

  &--secondary {
    color: $secondaryContrastText;
    border-color: $secondaryColor;
    background: linear-gradient(
      to top,
      $secondaryColor-300,
      $secondaryColor-200
    );

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: $secondaryColor-200;
      }
    }

    &:active {
      background: linear-gradient(
        to bottom,
        $secondaryColor-300,
        $secondaryColor-200
      );
    }

    &:focus-visible {
      background: $secondaryColor-200;
      box-shadow: 0px 0px 4px $secondaryColor;
    }

    &:disabled {
      border-color: $secondaryColor;
      background: $secondaryColor-100;
    }
  }
}
