$orange-700: #E88300;
$orange-400: #FFA42E;
$orange-300: #FFAE45;
$orange-200: #FFB85C;
$orange-100: #FFD8A5;

$grey-900: #414141;
$grey-700: #6B6B6B;
$grey-500: #BFBFBF;
$grey-400: #D4D4D4;
$grey-300: #E9E9E9;
$grey-200:  #F5F5F5;
$grey-100:  #F9F9F9;

$white: #ffffff;

$primaryColor: $orange-700;
$primaryColor-400: $orange-400;
$primaryColor-300: $orange-300;
$primaryColor-200: $orange-200;
$primaryColor-100: $orange-100;
$primaryContrastText: $white;

$secondaryColor: $grey-500;
$secondaryColor-400: $grey-400;
$secondaryColor-300: $grey-300;
$secondaryColor-200: $grey-200;
$secondaryColor-100: $grey-100;
$secondaryContrastText: $grey-900;

$textSecondary: $grey-700;
$textPrimary: $grey-900;
